body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.column {
    flex: 1;
}